/** Basic Elements **/

body, ul, li {
  background-color: grey;
  font-family: 'Impact';
  margin: 0;
  padding: 0;
}

/** Logo and Navigation Elements **/

.navigation {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navigation ul {
  text-align: center;
  white-space: nowrap;
  background-color: #EEEBE8;
}

.navigation li {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
  background-color: #EEEBE8;
  color: black;
}

.navigation a {
  text-decoration: none;
  color: black;
}

.navigation a:hover {
  opacity: 0.5;
}

.banner {
  background-size: cover;
  height: 750px;
  width: 100%;
  min-width: 1020px;
}

.banner .content h1 {
  position: relative;
  top: 100px;
  left: 320px;
  width: 350px;
  margin: 0 auto;
  color: white;
  font-family: 'Impact';
  font-weight: 800;
  font-size: 62px;
  text-transform: uppercase;
  z-index: 4;
}


/** Main Body **/

img {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}

/** Social Media Buttons **/

.socialmedia {
  width: 100%;
  margin: auto;
  min-width: 1020px;
  text-align: center;
  padding-top: 60px;
}

.socialmedia .fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  background: black;
  color: white;
}

.socialmedia .fa:hover {
  opacity: 0.7;
}

.socialmedia p {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  color: #3F3F3F;
  height: auto;
  margin: auto;
}


/** Collage Elements **/

.collage {
  display: grid;
  margin: auto;
  height: 700px;
  width: 100%;
  min-width: 1020px;
  padding-top: 60px;
  padding-bottom: 50px;
  grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

#followtext {
  grid-area: 1 / 1 / span 2 / span 2;
  text-align: center;
  padding-top: 350px;
}

#followtext .fa {
  padding: 10px;
  margin-top: 5px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  background: black;
  color: white;
}

#followtext .fa:hover {
  opacity: 0.7;
}

#followtext p {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #3F3F3F;
  height: auto;
  margin: auto;
}

#followtext #followtagline {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: #3F3F3F;
  height: auto;
  margin: auto;
}

#img-4 {
  grid-area: 1 / 3 / 2 / 5;
}

#img-5 {
  grid-area: 1 / 5 / 2 / 5;
  height: 80%;
  width: 95%;
  align-self: end;
}

#img-6 {
  grid-area: 2 / 3 / 3 / 4;
}

#img-7 {
  grid-area: 2 / 4 / 3 / 6;
  width: 90%;
  height: 90%;
}

/** Border Elements **/
.border {
  height: 40px;
  width: 100%;
  min-width: 1020px;
  margin-top: 50px;
  background-color: #EEEBE8;
}


/** Shop Section **/
.shop {
  display: grid;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: 400px;
  width: 900px;
  grid-template: 100% / 1fr 1fr 1fr;
  grid-gap: 20px;
}

.shop .shopimg {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  box-shadow: 5px 5px 12.5px 2.5px #D9D9D9;
}

#shoptext p {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  color: #3F3F3F;
  height: auto;
  margin: auto;
  margin-top: 50px;
}

/** Footer **/
.bottom {
  width: 100%;
  min-width: 1020px;
  height: 300px;
  margin-top: 100px;
  background-color: #EEEBE8;
}

.bottomgrid {
  display: grid;
  padding-left: 75px;
  padding-right: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: 100%;
  width: auto;
  grid-template: 100% / 1fr 1fr 1fr 2fr;
  grid-gap: 20px;
}

.bottomgrid .bg {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}

.bottomgrid ul li {
  list-style-type: none;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: 15px;
  background-color: #EEEBE8;
}

.bottomgrid h4 {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  line-height: 2;
  width: 90%;
}

.connect .fa {
  padding: 10px;
  margin-top: 5px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  background: black;
  color: white;
}

.connect .fa:hover {
  opacity: 0.7;
}

.bottomgrid li a {
  text-decoration: none;
  color: black;
}

.bottomgrid li a:hover {
  opacity: 0.5;
}

.bottomgrid .subscribe {
  padding-left: 10px;
}

.bottomgrid .subscribe #subscribe-border {
  padding-left: 10px;
  padding-top: 1px;
}

.bottomgrid #subscribe-border h4 {
  border-bottom: none;
}

.bottomgrid #subscribe-border p {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  letter-spacing: 1px;
}

/** Fonts **/
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Rajdhani Light'), local('Rajdhani-Light'), url(https://fonts.gstatic.com/s/rajdhani/v9/LDI2apCSOBg7S-QT7pasEfOreefkkbIx.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rajdhani Regular'), local('Rajdhani-Regular'), url(https://fonts.gstatic.com/s/rajdhani/v9/LDIxapCSOBg7S-QT7p4HM-aGW-rO.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Rajdhani Bold'), local('Rajdhani-Bold'), url(https://fonts.gstatic.com/s/rajdhani/v9/LDI2apCSOBg7S-QT7pa8FvOreefkkbIx.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(https://fonts.gstatic.com/s/ptsansnarrow/v11/BngRUXNadjH0qYEzV7ab-oWlsbCGwR2oefDo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v9/iJWKBXyIfDnIV7nBrXyw023e.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7lujVj9w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/** No Longer Used
.logo {
  margin: 0;
  background-color: white;
  color: black;
  font-family: 'Impact';
  font-weight: 800;
  font-size: 48px;
  text-align: left;
  text-transform: uppercase;
}

.tagline {
  height: 42px;
  width: 100%;
  min-width: 1020px;
}

.tagline p {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  color: #3F3F3F;
  height: auto;
  margin: auto;
  margin-top: 100px;
}

.main-photo {
  margin: auto;
  width: 100%;
  height: auto;
  padding-top: 20px;
}

.main-photo img {
  min-width: 1020px;
}

.openning {
  display: grid;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  height: 300px;
  width: 1000px;
  grid-template: 100% / 1fr 1fr 1fr;
  grid-gap: 10px;
}

.openning img {
  box-shadow: 5px 5px 12.5px 2.5px #D9D9D9;
}

.row4 {
  display: grid;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  height: 200px;
  width: 1200px;
  grid-template: 100% / 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.row4 img {
  box-shadow: 5px 5px 12.5px 2.5px #D9D9D9;
}
